modules/learnPath/export/imsss_v1p0auxresource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /* ========================================================================
  ~  * Open eClass
  ~  * E-learning and Course Management System
  ~  * ========================================================================
  ~  * Copyright 2003-2024, Greek Universities Network - GUnet
  ~  *
  ~  * Open eClass is an open platform distributed in the hope that it will
  ~  * be useful (without any warranty), under the terms of the GNU (General
  ~  * Public License) as published by the Free Software Foundation.
  ~  * The full license can be read in "/info/license/license_gpl.txt".
  ~  *
  ~  * Contact address: GUnet Asynchronous eLearning Group
  ~  *                  e-mail: info@openeclass.org
  ~  * ========================================================================
  ~  */
  -->

<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema targetNamespace="http://www.imsglobal.org/xsd/imsss" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.imsglobal.org/xsd/imsss" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:include schemaLocation="imsss_v1p0util.xsd"/>
    <xs:complexType name="auxiliaryResourceType">
        <xs:attribute name="auxiliaryResourceID" type="xs:string" use="required"/>
        <xs:attribute name="purpose" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="auxiliaryResourcesType">
        <xs:sequence>
            <xs:element name="auxiliaryResource" minOccurs="0" maxOccurs="unbounded" type="auxiliaryResourceType" block = "#all"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
